:root {
  --main-heading-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --main-branding-color: #f9f7fe;
  --secondary-branding-color: #6c63ff;
  --tertiary-branding-color: #575a5f;
}

@media (max-width: 600px) {
  body {
    text-align: center;
  }
  .content-container {
    margin-top: 0 !important;
  }

  .content {
    margin: 0 !important;
  }

  .content h2 {
    margin-top: 10px !important;
    font-size: 30px !important;
  }

  .content-container p {
    margin: 55px 85px !important;
  }

  .hero {
    padding: 40px !important;
  }

  .hero h1 {
    font-size: 80px !important;
  }

  .homepage {
    margin-top: 20px !important;
  }

  .hero-button {
    border-radius: 20px !important;
    padding: 25px 40px !important;
  }

  .about-page h2 {
    font-size: 50px !important;
  }

  .about-page h3 {
    font-size: 25px !important;
  }

  .about-page .container p {
    margin: 30px 20px !important;
  }

  .hannah-photo {
    width: 100%;
    padding-left: 55px;
  }

  .nav-name {
    display: none !important;
  }

  nav ul {
    padding: auto !important;
    margin: auto !important;
  }

  .contact-box h5 {
    font-size: 20px;
  }

  .contact-box p {
    font-size: 15px;
  }
}

h2,
h3,
h4,
h5,
p {
  font-family: var(--secondary-font-family);
}

h4 {
  text-align: center;
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}

h5 {
  font-size: 48px;
}

p {
  color: var(--tertiary-branding-color);
}

.hero {
  text-align: center;
  background-color: var(--main-branding-color);
  padding: 160px 20px;
}

.hero h2 {
  font-size: 36px;
  font-weight: bold;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--main-heading-font-family);
}

.hero p {
  font-size: 24px;
}

.branding-button {
  border-radius: 4px;
  background-color: var(--secondary-branding-color);
  font-size: 18px;
  color: white;
  line-height: 27px;
  padding: 12px 20px;
  margin-top: 49px;
  font-family: var(--secondary-font-family);
}

.branding-button:hover {
  color: var(--secondary-branding-color);
  border: 1px solid var(--secondary-branding-color);
}

.homepage .container {
  margin-top: 236px;
}

.content h2 {
  font-family: var(--main-heading-font-family);
  font-weight: bold;
  font-size: 64px;
  margin-top: 20px;
}

.container p {
  margin: 55px 85px 55px 0;
}

.content {
  margin: 0px 130px;
}

.content h3 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  margin-top: 30px;
}
.about-page p {
  margin-top: 30px;
}

.hannah-photo {
  max-width: 100%;
  margin-top: 100px;
}

.view-projects-button {
  border-radius: 4px;
  background-color: var(--secondary-branding-color);
  font-size: 18px;
  color: white;
  line-height: 27px;
  padding: 12px 20px;
  font-family: var(--secondary-font-family);
}

.view-projects-button:hover {
  color: var(--secondary-branding-color);
  border: 1px solid var(--secondary-branding-color);
}

.work-description {
  margin: 10px 0 40px !important;
  text-align: center;
}

.navbar-custom {
  font-family: var(--secondary-font-family);
  color: var(--main-branding-color);
  background-color: var(--main-branding-color);
}

nav {
  padding: 20px 0;
  font-family: var(--secondary-font-family);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

.nav-name {
  font-size: 25px;
  font-weight: bold;
}

nav li.active a,
nav a:hover,
footer a {
  color: var(--secondary-branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--main-branding-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--secondary-branding-color);
}

footer .social-links a {
  margin: 40px 20px;
  color: var(--secondary-branding-color);
  background-color: var(--main-branding-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--secondary-branding-color);
}
