@media (max-width: 600px) {
  body {
    text-align: center;
  }
  .container {
    margin-top: 0 !important;
  }
  .container h2 {
    margin-top: 10px !important;
  }

  .container p {
    margin: 55px 85px !important;
  }

  .hero-button {
    border-radius: 20px !important;
    padding: 25px 40px !important;
  }

  .about-page h2 {
    font-size: 50px !important;
  }

  .about-page h3 {
    font-size: 25px !important;
  }

  .hannah-photo {
    width: 100%;
    padding-left: 55px;
  }
}

:root {
  --main-heading-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --main-branding-color: #f9f7fe;
  --secondary-branding-color: #6c63ff;
}

h2,
h3,
h4,
p {
  font-family: var(--secondary-font-family);
}

.hero {
  text-align: center;
  background-color: var(--main-branding-color);
  padding: 160px 20px;
}

.hero h2 {
  font-size: 36px;
  font-weight: bold;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--main-heading-font-family);
}

.hero p {
  font-size: 24px;
}

.hero-button {
  border-radius: 4px;
  background-color: var(--secondary-branding-color);
  font-size: 18px;
  color: white;
  line-height: 27px;
  padding: 12px 20px;
  margin-top: 49px;
  font-family: var(--secondary-font-family);
}

.hero-button:hover {
  color: var(--secondary-branding-color);
  border: 1px solid var(--secondary-branding-color);
}

.homepage .container {
  margin-top: 236px;
}

.container h2 {
  font-family: var(--main-heading-font-family);
  font-weight: bold;
  font-size: 64px;
  margin-top: 95px;
}

.container p {
  margin: 55px 85px 55px 0;
}

.project-button {
  font-family: var(--secondary-font-family);
  color: var(--secondary-branding-color);
  border: 1px solid var(--secondary-branding-color);
  line-height: 27px;
  padding: 18px;
  border-radius: 4px;
  font-size: 18px;
}

.project-button:hover {
  background-color: var(--secondary-branding-color);
  color: white;
}

.about-page h3 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  margin-top: 30px;
}
.about-page p {
  margin-top: 30px;
}

.hannah-photo {
  max-width: 100%;
  border-radius: 20px;
}

.view-projects-button {
  border-radius: 4px;
  background-color: var(--secondary-branding-color);
  font-size: 18px;
  color: white;
  line-height: 27px;
  padding: 12px 20px;
  font-family: var(--secondary-font-family);
}

.view-projects-button:hover {
  color: var(--secondary-branding-color);
  border: 1px solid var(--secondary-branding-color);
}
